<!DOCTYPE html>
<html>
  <head>
     <style>
          div {
          width:450px;
          margin: auto;
          border: 3px solid blue;
          background-color: ghostwhite;
          }
     </style>
   <body>
   <br>
    <br>
     <br>

     <h3 class="text-center"> Which one would you like to edit?</h3>
    </br>
  <div>
<h2>
    </br>
<h4 class="text-center"><%= form_for @favorite do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %></br>
    <%= f.label :link %>
    <%= f.text_field :link %></br>
    <%= f.collection_select :category_id, Category.all, :id, :name%></br>
    <%= f.submit %>
  <%end%>
</h4>
</br>
</h2>
<body>
</html>
