<html>
  <head>
     <style>
         h1 {
             font-family: "Apple Chancery";
             color: solid black;
         }
         div {
         width:650px;
         margin: auto;
         border: 3px solid blue;
         background-color: ghostwhite;
         text-align: center;
         }

      </style>
  </head>
    <body>
</br>
</br>
</br>
<br><%= button_to 'Home page', user_path(current_user), method: :get %></br>
</br>
</br>
<div>
<h1 class="text-center">Create new Favorite</h1></br>

<h4 class="text-center"> <%= form_for @favorite do |f| %>
<%= f.label :name %>
<%= f.text_field :name %></br>
<%= f.label :link %>
<%= f.text_field :link %></br>
<%= f.collection_select :category_id, Category.all, :id, :name%></br>
</br>
<%= submit_tag("Submit") %>
 <%end%>

</h4>
</br>
</div>
</body>
</html>
