<!DOCTYPE html>
<html>
  <head>
     <style>
         h3 {
             font-family: "Apple Chancery";
             color: solid black;
         }
         h5 {
             font-family: "Time Roman";
             color: solid black;
         }
      </style>
  </head>
    <body>
        <h3>My favorite websites</h3>
        <%= button_to 'Home page', user_path(current_user), method: :get %>
        <ul>

            <il><% @user.favorites.each do |favorite| %> </il>
                   <h5> ~ <%= favorite.category.name %> ~ </h5>
                   <li> <%= link_to favorite.name, "http://#{favorite.link}" %> </li>
                   <% if current_user == @user %>
                   <%= button_to "Delete", favorite, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
                    <%end%>
                    <% if current_user == @user %>
                  <p> Do you want to edit this favorite link? <%= link_to "Edit", edit_favorite_path%></p>
               <%end%>
               <%end%>
        </ul>
    </body>
</html>
