<!DOCTYPE html>
<html>
  <head>
     <style>
          div {
          width:450px;
          margin: auto;
          border: 3px solid blue;
          background-color: ghostwhite;
          }
     </style>
   <body>
   <br>
    <br>
     <br>

     <h3 class="text-center"> Welcome to Webs App!</h3>
    </br>
  <div>
    </br>
      <h3 class="text-center">Sign up</h3></br>

        <h4><%= flash[:notice] %></h4>
        <h5  class="text-center">
        <%= form_for @user do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username %></br>
          <%= f.label :password %>
          <%= f.text_field :password %></br>

            <%= f.submit %>
             <% end %>
      </br>
      <h4 class="text-center"> New here? </h4>
      <h4 class="text-center"><%= button_to 'Login', login_path, method: :get %></h4>
        </h5>
   </div>
 <body>
</html>
